* {
  box-sizing: border-box; /* Keeps total width at exactly */
}

html {
    height: 100%;
}

body {
    margin: 0;
    width: auto;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 96vh 4vh;

    grid-template-areas:
    "main" "footer";
}

#bodybody {
    grid-area: main;
    margin-top: 0;
    margin-bottom: 0;
    width: 96%;

    min-width: 60rem;

    overflow-x: hidden;
    overflow-y: auto;

    min-height: 100%;
    justify-self: center;

    padding: 0px;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 12em auto;
    grid-template-areas: "toppart" "main";
}

#top {
    grid-area: toppart;
    /* border: 1px red solid; */
    width: 100%;
    height: 10em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: center;

    margin-top: 2em;
    padding-bottom: 1em;

    position: relative;
    z-index: 1;
}

#name {
    transition: transform 0.5s;
    font-size: 80pt;
    color: white;
    -webkit-text-stroke: 16pt var(--mainblue);
    paint-order: stroke fill;
    padding-left: 0.5em;
}

aside {
    background-color: var(--mainblue);
    color: white;
    padding: 1.5em;
    padding-top: 13em;
    position: fixed;

    margin-top: 0px;
    margin-bottom: 0px;

    height: 100%;
    width: 17%; /* 13% */

    overflow-x: auto;
    overflow-y: auto;
}

aside a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.aside-title {
    font-size: 20pt;
    margin-bottom: 0.5em;
}

.aside-desc {
    font-size: 14pt;
    color: var(--lightcyan);
        
    overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
}

#main-area {
    grid-area: main;
    margin-top: 1em;
    justify-self: right;
    align-self: top;

    width: 80%; /* 75% */
    display: grid;
    grid-template-rows: auto 10fr;
    grid-template-columns: 1fr;
    row-gap: 0px;

    height: auto;
    
    position: relative;
    z-index: 2;
}

#about-box-area {
    margin-top: 0.1em;

    width: 100%;
    min-height: 300px;
    height: 69vh;

    overflow-y: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2em auto;
    grid-template-areas: "toppart" "main";

}

#about-box-top {
    grid-area: toppart;
    border: 0.4em solid var(--mainblue);
    padding: 0;
    border-bottom: 0;

    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 1fr;
}

#about-box-top p {
    margin: 0;
    background-color: var(--deeporange);
    height: 100%;
    font-size: 1em;
    padding-left: 0.3em;
    color: white;
    align-content: center;
}

#about-box-top-white {
    width: 100%;
    border-left: 0.4em solid var(--mainblue);
    height: 100%;
    background-color: var(--neoncyan);
}

#about-box {
    grid-area: main;
    
    min-height: 100%;
    height: auto;
    width: inherit;

    border: 0.4em solid var(--mainblue);
    background-color: var(--mainblue);

    display: grid;

    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left right";

    gap: 0.8em;
    padding: 0.8em;
}

#about-box-left {
    grid-area: left;
    padding: 0.4em;
    padding-bottom: 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% auto;
    grid-template-areas: "drawing" "contact"; 
    gap: 0.5em;

    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
#about-box-drawing {
    grid-area: drawing;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
}

#about-box-drawing img {
    transition: transform .2s;
    width: 100%;
    height: 100%;
}

#about-box-contact {
    grid-area: contact;
    align-self: top;
}
#about-box-contact div {
    font-size: 14pt;
    padding: 1em;

    background-color: var(--orange);
    color: var(--lightorange);/* change this later */
}

#about-box-right {
    grid-area: right;
    background-color: white;
    
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "desc stack";
    column-gap: 0.8em;
    padding: 0.6em;

    word-break: keep-all;
    overflow-wrap: normal;
    overflow-y: auto;
}

#about-box-myDesc {
    grid-area: desc;
}

#about-box-myDesc div {
    background-color: var(--mainblue);
    color: white;
    /* maybe make the background a low contrast photograph (taken by me ofc) */

    align-self: top;
    justify-self: left;

    font-size: 18pt; /* 16pt */
    padding: 0.8em;
    text-align: left;
}

#about-box-myDesc span.hello {
    font-size: 28pt; /* 24pt */
    font-weight: normal;
    /* background-color: var(--deeporange); 
    -webkit-text-stroke: 0.2em var(--deeporange);
    paint-order: stroke fill;
    color: var(--lightorange)*/
    color: white;
}

#about-box-myDesc span.hello2 {
    font-size: 20pt;
    font-weight: normal;
    color: white;
}

#about-box-myDesc strong {
    font-weight: normal;
    color: var(--lightorange);
}

#about-box-stack {
    grid-area: stack;
}

#about-box-stack div {
    background-color: var(--lightorange); 
    color: var(--mainblue);
    padding: 1em;
    font-size: 16pt;
}

@media screen and (width < 60rem), (orientation: portrait) { /* no more aside  wait im CONFUSED  why doesnt width < height work....*/
    aside {
        display: none;
    }
    #main-area {
        width: 95%;
        justify-self: center;
    }

    #about-box-area {
        height: 78vh;
    }

    #about-box {
        grid-area: main;
        
        min-height: 100%;
        height: auto;
        width: inherit;

        border: 0.4em solid var(--mainblue);
        background-color: var(--mainblue);

        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "toppart" "bottom";

        gap: 0.8em;
        padding: 0.8em;
        overflow: auto;
    }

    #about-box-left {
        grid-area: toppart;
        padding: 0.4em;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 10em auto;
        grid-template-areas: "drawing contact"; 
        gap: 0.5em;
        align-items: center;

        max-width: 100%;
        max-height: 100%;
        overflow-y: auto;
    }

    #about-box-drawing {
        grid-area: drawing;
        max-width: 100%;
        max-height: 100%;
        overflow: visible;
    }

    #about-box-drawing img {
        width: 100%;
        height: 100%;
    }

    #about-box-contact {
        width: 100%;
        height: fit-content;
        grid-area: contact;
    }
    #about-box-contact div {
        font-size: 14pt;
        padding: 1em;

        background-color: var(--orange);
        color: var(--lightorange);/* change this later */
    }

    #about-box-right {
        grid-area: bottom;
        background-color: white;
        
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: "desc stack";
        column-gap: 0.8em;
        padding: 0.6em;

        word-break: keep-all;
        overflow-wrap: normal;
        overflow-y: auto;
    }

    #about-box-myDesc {
        grid-area: desc;
    }

    #about-box-myDesc div {
        background-color: var(--mainblue);
        color: white;
        /* maybe make the background a low contrast photograph (taken by me ofc) */

        align-self: top;
        justify-self: left;

        font-size: 16pt;
        padding: 0.8em;
        text-align: left;
    }
}

